.page-header:after, .page-header:before {
    position: relative !important;
}
.select2-container {
    width: 90% !important;
}
.has-text-danger {
    color: red;
}
.el-radio__inner {
    border: 1px solid #9fa3ac !important;
}

.page-header .footer {
    position: absolute !important;
}
